
body{
   width: 400px;

}
   h3{
       background-color: Green;
       color: white;
       padding: 30px;
       width: 200px ;
   }
   button{
       padding: 10px;
       border: 2px;
       border-color: black;
       border-radius: 10px;
       text-decoration: none;
       width: 100px;
       margin-top: 20px;
       display: inline-block;
   }
   .container{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

